<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Strict//EN">
<html data-ng-app="notebook">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Thy Notebook</title>
    <link rel="stylesheet" href="Content/toastr.css" />
    <link rel="stylesheet" href="Content/thynotebook.css" />
    <link rel="stylesheet" href="Content/ng-grid.min.css" />
    <link rel="stylesheet" href="Content/thynotebook.css" />
    <link rel="stylesheet" href="Content/bootstrap.min.css">

    <!-- 3rd party libraries -->
    <script src="Scripts/jquery-1.8.3.min.js"></script>
    <script src="Scripts/q.js"></script>
    <script src="Scripts/toastr.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/ng-grid.min.js"></script>
    <script src="Scripts/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/bootbox.min.js"></script>

    <!-- App libraries -->
    <script src="Scripts/app/app.js"></script>
    <script src="Scripts/app/controllers.js"></script>
    <script src="Content/tinymce/jquery.tinymce.min.js"></script>
    <script src="Content/tinymce/tinymce.min.js"></script>
    <script src="Content/tinymce/tinymce.js"></script>
    
    <script>
        tinymce.init({ selector: 'textarea' });
        $("#notebookContent").elastic();
    </script>
</head>
    <body><hello></hello>
            <div id="applicationHost" data-ng-controller="ThyNotebookCtrl" class="ng-cloak" style="height: 100%; min-height: 100% !important;">
                <div id="modal-to-open" title="Notebook Name" ui-jq="dialog" ui-options="{width: 500, height:400, autoOpen: false, modal: true}"></div>
                <div id="addNotebookModal" title="Crreate Notebook" ui-jq="dialog" ui-options="{width: 250, height:200, autoOpen: false, modal: true}"></div>
                <div class="row" style="margin-left: 20px">
                    <div id="topContent">
                        <span class="title">Thy Notebook</span>
                        <span>
                            <input type="text" width="200" />
                            <button class="btn" ng-click="search()">Search</button>
                        </span>
                        <span style="padding-left:100px">
                            <button class="btn btn-primary" ng-click="showNote()">+ New Note</button>
                        </span>
                    </div>
                </div>
                <div class="row" style="height: 100%; min-height: 100% !important; margin-left: 20px">
                    <div id="leftContent" style="float: left;">
                        <div class="columnHeader">Notebooks</div>
                        <span ng-click="openAddNotebook()" id="AddNotebook">+ Add Notebook</span><br/><br/>

                        <span ng-repeat="notebook in notebooks" ng-click="filterNotebook(notebook)" id="notebook" class="dropdown">
                            {{ notebook.Name }} -
                            <a class="dropdown-toggle">
                                Props
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-click="openEditNotebook(notebook)">Edit Notebook</li>
                                <li ng-click="deleteNotebook(notebook)">Delete Notebook</li>
                            </ul>
                            <br/>
                        </span>

                    </div>

                    <div id="middleContent" style="float: left;">
                        <div id="selectedNotebook" ng-show="selectedNotebook.Name" class="columnHeader">
                            {{ selectedNotebook.Name }} Notes
                        </div>
                        <div ng-repeat="note in notes| filter:noteFilter" id="notebook" class="noteSummary">
                            <span ng-click="showNote(note)">
                                <span id="noteSummaryNoteName">{{ note.Name }}</span><br/>
                                <div id="noteSummaryNoteContent">
                                    <span id="noteCreateDate">{{ note.CreateDate | date:'MM/dd/yy' }}</span><span>{{ note.Content | limitTo:20 }}</span>
                                </div>
                            </span><br />
                        </div>
                    </div>

                    <div id="rightContent">
                        <div id="noteEditArea" ng-show="editedNote">
                            <div class="noteEditAreaContainer">
                                <input type="text" id="noteTitle" data-ng-model="editedNote.Name" />
                                &nbsp;&nbsp;
                                <select ng-model="editedNote.NotebookId" ng-options="notebook.NotebookId as notebook.Name for notebook in notebooks"></select>
                                <span style="float:right">
                                    <img src="Content/icons/disk.png" class="icon" ng-click="saveNote()" />&nbsp;&nbsp;
                                    <img src="Content/icons/application_delete.png" class="icon" ng-click="deleteNote()" />
                                </span>
                            <textarea id="notebookContent"
                                        ng-model="editedNote.Content" style="height: 650px; width: 780px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>